.dashboard-title {
    border: 1px solid #ffffff;
    background-color: #5c4033;
    color: #ffffff;
    padding: 2px 10px;
    font-size: 1rem;
    border-radius: 6px;
}

.sales-card-header {
    background: linear-gradient(90deg, #34c897 0%, #ffe082 100%);
    border-bottom: 1px solid #ccc;
}

.transactions-card-header {
    background: linear-gradient(90deg, #578ee1 0%, #04fbf7 100%);
    border-bottom: 1px solid #ccc;
}